@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html,body {
	margin: 0;
	padding: 0;
}

/*#twitter, #steam {
	width: 100px;
	height: 100%;
	position: fixed;
	background:black;
	z-index: 1000;
	margin-left: 46%;
}
*/
.holder {
	width: 960px;
	height: inherit;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#navbar {
  	position: fixed;
  	top: 0;
  	left: 0;
	background: none;
	height: 80px;
	width: 100%;
	opacity: 0.9;
	z-index: 333;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

#left-bar {
	margin-left: 50px;
	width: 140px;
	height: inherit;
	line-height: 100px;
	display: inline-block;
}

#right-bar {
	float: right;
	display: inline-block;
	line-height: 80px;
	height: inherit;
	width: 300px;
	margin-right: 50px;
}

#right-bar a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: italic;
	text-decoration: none;
	color: white;
}

#takeme {
	vertical-align: -10px;
}

.nav-link {
	width: auto;
	height: 75px;
	display: inline-block;
	margin-left: 20px;
}

.nav-link:hover {
	border-bottom: 5px solid #1cd860;
}

#content {
	position: absolute;
	width: 100%;
	height: inherit;
	z-index: 0;
}

#focus {
	background: url("../img/bg.png");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 700px;
	position: fixed;
	z-index: 0;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 2em;
}

#focus h1 {
	margin-top: 240px;
	margin-bottom: 0;
}
#focus p {
	margin-top: 0;
}

#focus a {
	text-decoration: none;
	display: inline-table;
}

#focus-button {
	width: 200px;
	height: 50px;
	border: 3px solid #1cd860;
	color: #1cd860;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.5em;
	line-height: 50px;
	font-weight: 700;
}

#focus-button:hover {
	background: white;
	color: #67b550;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

#join {
	position: relative;
	margin-top: 700px;
	width: 100%;
	height: 300px;
	background: #1cd860;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
}

#join hr {
	width: 50px;
	background: white;
	height: 3px;
	border: none;
}

#join h1 {
	font-size: 1.5em;
	padding-top: 70px;

}

#join p {
	font-size: 1em;
}

#join a {
	display: inline-table;
}

#join-button {
	width: 200px;
	height: 50px;
	background: #619E4E;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.5em;
	line-height: 70px;
	font-weight: 700;
}

#join-button:hover {
	background: #1c1c1c;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

#features {
	position: relative;
	width: 100%;
	height: 700px;
	background: #e1e1e1;
	color: #404040;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 0.8em;
}

#features h1 {
	padding-top: 70px;
	margin: 0;
}

#features p {
	font-size: 1.05em;
	padding-top: 15px;
	padding-bottom: 40px;
}

#features hr {
	margin-top: 15px;
	width: 50px;
	background: #959595;
	height: 3px;
	border: none;
}

#left-features, #right-features {
	width: 450px;
	height: inherit;
}

#left-features {
	float: left;
	margin-left: 30px;
}

#right-features {
	float: right;
	margin-right: -10px;
}

.feature {
	margin-bottom: 20px;
	width: 90%;
	height: 50px;
	background: none;
	border: 3px solid #959595;
	line-height: 50px;
	font-size: 1.2em;
	font-style: normal;
	color: #959595;
}

#top-footer {
	position: relative;
	width: 100%;
	color: #404040;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 0.8em;
	position: relative;
	width: 100%;
	height: 200px;
	background: #363636;
	border-top: 10px solid #404040;
}

#social-holder {
	width: 100px;
	height: 40px;
	margin-left: -65px;
	margin-top: 30px;
	display: inline-block;
	z-index: 1000;
	position: absolute;
}


#twitter {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	background: black;
	float: right;
	height: 38px;
	width: 38px;
	border-radius: 50px;
}

#twitter:hover {
  filter: invert(0%);
  -webkit-filter: invert(0%);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

#twitter img {
	margin-top: 9px;
	margin-left: 3px;
}

#steam {
	float: left;
}

#steam:hover {
  filter: invert(100%);	
  -webkit-filter: invert(100%);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

#links {
	height: 30px;
	width: inherit;
	position: absolute;
	margin-top: 100px;
}

#links a {
	text-decoration: none;
	font-weight: 400;
	font-size: 0.9em;
	color: white;
}

#links a:hover {
	color: #7cd860;
}

#links span {
	font-style: normal;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.white {
	color: white;
}

#green {
	color: #7cd860;
}


#index-bottom-footer {
	line-height: 120px;
	margin-top: -85px;
	width: 100%;
	height: 106px;
	background: #262626;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 0.7em;
	display: inline-block;
}

#bottom-footer {
	line-height: 100px;
	width: 100%;
	height: 90px;
	background: #262626;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 0.7em;
	display: inline-block;
}

#footer-left {

}

#footer-center {
	text-align: center;
}


#footer-center p {
	line-height: 0;
	display: inline-block;
}

#footer-center img {
	vertical-align: -5px;
}

#footer-right {
	text-align: right;
}

#footer-right a {
	text-decoration: none;
	color: #7cd860;
}

.col {
	background: none;
}

.index_footer_col {
	height: 90px;
	padding: 0;
}
